.about {
  max-width: 90%;
  width: 80%;
  margin: 2rem auto;
}

.about h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.about-me-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.profile-photo-container {
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
}

.profile-photo-container img {
  border-radius: 50%;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  gap: 1.5rem;
}

.links button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.links button:active {
  background-color: #003d80;
  transform: scale(0.95);
}

.github-icon:hover {
  color: #0056b3;
}

.github-icon {
  font-size: 3rem;
  padding: 0;
  margin: 0;
  color: black;
}

.button {
  color: white;
}

.button:hover {
  background-color: #0056b3;
}
